#header{
    background-color: blue;
    height: 3cm;
}
#sub{
    background-color: white;
    height: 1.5cm;
    width: 15%;
    position:relative;
    top: 35%;
    bottom:35%;
    left: 40%;
    right: 35%;
    text-align: center;

}
.para{
    font-size: x-small;
}
#div1{
    background-color: white;
    height: 3cm;
    
}
#button1{
    background-color: aliceblue;
    padding-right: 5%;
    position: absolute;
    bottom: 75%;
    left: 1%;
}